@import "tailwindcss";

@custom-variant hover (&:hover);

:root {
  --background: #001a33; /* Azul profundo de fondo */
  --foreground: #ffffff;
  /* Definimos las variables de marca */
  --hseq-blue: #001a33;
  --hseq-gold: #FFD700; /* Oro vibrante */
}

@theme {
  /* Registramos los colores para poder usar bg-hseq-blue, text-hseq-gold, etc. */
  --color-hseq-blue: var(--hseq-blue);
  --color-hseq-gold: var(--hseq-gold);
}

body {
  background-color: var(--hseq-blue);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}